<div class="hero-content">
  <img src="https://ember.com/cdn/shop/files/230914_launch_WebBanner-Desktop_2048x.jpg" alt="Ember Image"
       aria-label="Hero Image">
</div>

<div class="home-content">
  <h1 aria-label="Ember's title">
    The perfect temperature, every time.
  </h1>
  <p aria-label="Ember’s patented technology description">
    Ember’s patented technology allows
    you to experience precision temperature control in your everyday life, with the vision to
    transform how the world eats, drinks, and lives, empowering you to experience your world
    without limits.
  </p>
</div>
